.product-section {
    padding: 20px;
  }
  
  .category {
    margin-bottom: 30px;
  }
  
  .product-cardss {
    display: flex;
    justify-content: space-between;
  }
  
  .product-card2 {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 18%;
  }
  
  .product-card2 img {
    width: 120px;
    height: 120px;
    object-fit: cover;
  }
  
  .product-card2 p {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .product-card2 span {
    color: #ff0000;
    font-weight: bold;
  }
  